body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /*background-color: #fafafa;*/
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.699) 0%, rgb(0, 0, 0) 100%),
    url('background.jpg');
    background-position: top left;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 180px 20px;

}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo img {
  width: 32px;
  height: 32px;
}

h1 {
  margin: 0;
  color: #fdf7c3;
  font-size: 1.5rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.slogan {
  font-family: 'Fugaz One', sans-serif;
  font-size: 2rem;
  color: #FFFACD;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#description {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 54px
}

#searchButton {
  padding: 12px 25px;
  background-color: #016101;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #008000;
}

#results {
  margin-top: 30px;
  width: 100%;
  max-width: 1800px;   /* aumente aqui conforme necessário */
}

.result-item {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.result-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
/*
.result-overview {
  font-size: 0.95rem;
  color: #444;
  max-height: 4.5em;         
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;      
  -webkit-box-orient: vertical;
}
*/
.result-overview {
  font-size: 0.95rem;
  color: #444;
  max-height: none;       /* permite altura ilimitada */
  overflow: visible;      /* mostra todo conteúdo */
  text-overflow: clip;    /* sem reticências */
  display: block;         /* padrão para textos */
  -webkit-line-clamp: none;
  -webkit-box-orient: initial;
}
.result-grid {
  display: flex;
  gap: 24px;           /* era 20px */
  justify-content: center;
}

.result-item {
  flex: 0 0 250px;            /* menos largura = menos altura também */
  padding: 10px;
  font-size: 0.9rem;
  height: auto;
}

.result-poster {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .result-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .result-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .result-grid {
    grid-template-columns: 1fr;
  }
}
